/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	.menu ul li a{
		padding: 0 0 !important;
    	text-align: right;
	}
	/*header end*/
	/*slider start*/
	.slider{
		padding-bottom: 60px;
	}
	.cid{
		bottom: -50px;
	}
	.cid li {
    width: 13px;
    height: 13px;
	}
	.s_content {
    margin-top: 10px;
	}
	.s_content h1{
		font-size: 25px;
	}
	.s_content h2{
		margin: 15px 0;
	}
	.s_content p{
		margin-bottom: 20px;
	}
	.s_icon li i{
		font-size: 30px;
		margin-right: 10px;
	}
	.s_img img {
    display: none;
	}
	/*slider end*/
	/*features start*/
	.features {
    padding-top: 50px;
    padding-bottom: 70px;
	}
	.t_h1{
		font-size: 25px;
	}
	.t_h2 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    word-spacing: 0px;

	}
	.m_t_60 {
    margin-top: 10px;
	}
	.f_icon{
		font-size: 40px;
	}
	.f_content{
		margin-top: 5px;
		text-align: center;
	}
	.f_content h3{
		font-size: 20px;
	}
	/*features end*/
	/*contact start*/
	.contact {
    padding-top: 50px;
    padding-bottom: 70px;
	}
	.c_form input{
		height: 45px;
	}
	.c_form button{
		margin-top: 20px; 
		height: 45px;
	}
	/*contact end*/
	/*footer start*/
	footer{
		padding-bottom: 70px;
	}
	address {
    margin-bottom: 30px;
    text-align: center;
	}
	.f_l {
	    text-align: center;
	}
	/*footer end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	.menu ul li a{
		padding: 0 0 !important;
    	text-align: right;
	}
	/*header end*/
	/*slider start*/
	.s_content {
    margin-top: 30px;
	}
	.s_img img {
    display: none;
	}
	/*slider end*/
	/*featires start*/
	.features {
    padding-top: 70px;
    padding-bottom: 90px;
	}
	.t_h2 {
    letter-spacing: 0px; 
    word-spacing: 0px; 
	}
	.m_t_60 {
    margin-top: 20px;
	}
	.f_content {
	margin-top: 5px;
    text-align: center;
	}
	/*featires end*/
	/*contact start*/
	.c_form input{
		height: 45px;
	}
	.c_form button{
		margin-top: 20px; 
		height: 45px;
	}
	/*contact end*/
	/*footer start*/
	address {
    margin-bottom: 30px;
    text-align: center;
	}
	.f_l {
	    text-align: center;
	}
	/*footer end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a{
		padding: 0 0 !important;
    	text-align: right;
	}
	/*header end*/
	/*slider start*/
	.s_content {
    	margin-top: 35px;
    }
	/*slider end*/
	/*features start*/
	.t_h2{
		letter-spacing: 0px;
		word-spacing: 0px;
	}
	/*features end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*slider start*/
		.s_img img{
		margin-left: 50; 
	}
	/*slider end*/
}